@import 'scss/main.scss';

.ImagePicker {
  $width: 150px;

  display: flex;
  flex-direction: row;
  align-self: center;
  height: $button-height;

  .ImagePicker__Path {
    border: 1px solid #abafba14;
    background-color: #eef1f4;
    padding: 18px 25px;
    border-radius: 6px 0 0 6px;
  }

  .ImagePicker__Button {
    width: $width;
    height: $button-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #858da1;
    border-radius: 0px 6px 6px 0px;
    color: $color-white;
  }

  .ImagePickerInput {
    width: $width;
    position: absolute;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
}

@import './ImagePicker.media.scss';
