@import 'scss/main.scss';

.ForgetPassword {
  width: 100vw;
  min-height: 100vh;
  background-color: $color-blue;
  display: flex;
  align-items: center;
  justify-content: center;

  .Footer {
    margin-top: 40px;
    text-align: center;

    .FooterLink {
      margin-left: 5px;
    }
  }
}

@import './ForgetPassword.media.scss';
